.tab-three{
  #cloud1 {
   animation-name: clouds;
   animation-duration: 10s;
         animation-delay: 0.5s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   transform-origin: center center;
   animation-direction: alternate;
 }
  #cloud2 {
   animation-name: clouds;
   animation-duration: 10s;
   animation-delay: 0.5s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   transform-origin: center center;
   animation-direction: reverse;
 }
  #cloud3 {
   animation-name: clouds;
   animation-duration: 10s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   transform-origin: center center;
   animation-direction: reverse;
 }
   #cloack{
     animation-name: dialspin;
   animation-duration: 3s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   transform-origin: center center;
   animation-direction: reverse;
 }
    #marker{
     animation-name: bounceIn;
   animation-duration: 3s;
   animation-fill-mode: both;
   animation-timing-function: linear;
   transform-origin: center center;
 } 
   #city {
   animation-name: city;
   animation-duration: 0.5s;
   animation-fill-mode: both;
   animation-timing-function: linear;
   transform-origin: center center;
 }
 }
 @-webkit-keyframes clouds {
   from {
     transform: translateX(0);
   }
   50% {
     transform: translateX(50%);
   }
   to {
     transform: translateX(0);
   }
 }
 @-webkit-keyframes city {
   from {
     transform: translateY(100px);
   }
   to {
     transform: translateY(0);
   }
 }
 @keyframes bounceIn {
   from, 20%, 40%, 60%, 80%, to {
     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   0% {
     opacity: 0;
     transform: scale3d(0.3, 0.3, 0.3);
   }
   20% {
     transform: scale3d(1.1, 1.1, 1.1);
   }
   40% {
     transform: scale3d(0.9, 0.9, 0.9);
   }
   60% {
     opacity: 1;
     transform: scale3d(1.03, 1.03, 1.03);
   }
   80% {
     transform: scale3d(0.97, 0.97, 0.97);
   }
   to {
     opacity: 1;
     transform: scale3d(1, 1, 1);
   }
 }
 @-webkit-keyframes dialspin  {
   0% {-webkit-transform: rotate(-0deg)}
   100% { -webkit-transform: rotate(-360deg) }
 }

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);

/////////////////
// VARIABLES
/////////////////

$tab-count: 5;
$menu-item-height: 46px;

$color-primary-light: #e74c3c;
$color-primary-dark: #c0392b;
$color-text: #444444;

$color-border: #dfdfdf;
$color-border-top: $color-primary-dark;

$color-label-bg-inactive: #ecf0f1;
$color-label-bg-active: white;
$color-label-active: $color-border-top;
$color-label-inactive: #bdc3c7;

$btn-border-top-thickness: 6px;

$tab-padding: 24px;
$tab-transition-duration: 200ms;
$tab-base-border-style: 1px solid $color-border;
$tab-trans-border-style: 1px solid transparent;

$panel-transition-duration: 600ms;
$main-padding: 48px 24px;
$menu-padding: 12px 24px;

/////////////////
// ELEMENTS
/////////////////

// global list style
ul#tabs-list {
  list-style: none;
  text-align: center;
  border-bottom: $tab-base-border-style;
  margin: 0;
  padding: 0;
}

// global label style
label.panel-label {
  user-select: none;
  display: block;
  width: 100%;
  color: $color-label-inactive;
  cursor: pointer;
  background-color: $color-label-bg-inactive;
  transition-property: background-color, color;
  transition-duration: $tab-transition-duration;
  // hover style
  &:hover {
    color: $color-label-active;
  }
}

// global panel style
#panels {
  background-color: $color-label-bg-active;
  .container {
    margin: 0 auto;
    width: 90%;
  }
  section {
    header {
      label.panel-label {
        padding: $menu-padding;
        box-sizing: border-box;
      }
    }
    main {
      box-sizing: border-box;
      max-height: 0;
      opacity: 0;
      transition: opacity $panel-transition-duration;
      overflow-y: hidden;
    }
  }
}

/////////////////
// MIXINS
/////////////////

// tabs list style
@mixin tabs-list-style {
  text-align: center;
  border-bottom: $tab-base-border-style;
  // li child
  li {
    display: inline-block;
    text-align: center;
    font-size: 0.875em;
    width: 100% / $tab-count - 2%;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
    border-right: $tab-base-border-style;
    position: relative;
    // hover
    &:hover {
      transition: none;
      border-right: none;
      // conditional transborder on last li
      &.last {
        border-right: $tab-trans-border-style;
      }
      & + li {
        border-left: $tab-base-border-style;
      }
    }
    // tab labels
    label.panel-label {
      position: relative;
      padding: $tab-padding 0;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100%;
        background-color: $color-border-top;
        height: 0;
        transition-property: height;
        transition-duration: $tab-transition-duration;
      }
      &:hover {
        padding-top: $tab-padding + 1;
        &::after {
          height: $btn-border-top-thickness;
        }
      }
    }
  }
}

// global active label styles
@mixin active-label {
  background-color: $color-label-bg-active;
  color: $color-border-top;
}

// active tab label style
@mixin active-tab-label {
  &::after {
    height: $btn-border-top-thickness;
  }
  // add extra pixel for shifting li downward over border
  padding-top: $tab-padding + 2;
}

// active tab li style
@mixin active-tab-li-style {
  pointer-events: none;
  cursor: default;
  // shift down over border. label has extra pixel in padding.
  transform: translate3d(0, 1px, 0);
  box-shadow: none;
  border-right: none;
  // conditional transborder on last li
  &.last {
    border-right: $tab-trans-border-style;
  }
  // next li border-left
  & + li {
    border-left: $tab-base-border-style;
  }
  label.panel-label {
    @include active-label;
    @include active-tab-label;
  }
}

// active menu label style
@mixin active-menu-label {
  background-color: $color-label-active;
  color: $color-label-bg-active;
}

// active menu li style
@mixin active-menu-li-style {
  max-height: $menu-item-height;
  opacity: 1;
  label.panel-label {
    @include active-label;
    @include active-menu-label;
  }
}

// active panel style
@mixin active-panel-style {
  main {
    max-height: initial;
    opacity: 1;
    padding: $main-padding;
  }
}

// panel toggling
@for $i from 1 through $tab-count {
  #panel-#{$i}-ctrl:checked ~ #panels #panel-#{$i} {
    @include active-panel-style;
  }
}

/////////////////
// MEDIA QUERIES
/////////////////

// small devices
@media all and (max-width: 767px) {
  // displaying menu nav
  @for $i from 1 through $tab-count {
    #nav-ctrl:checked ~ #tabs-list #li-for-panel-#{$i} {
      max-height: $menu-item-height;
      opacity: 1;
    }
  }
  // "show" open nav label when closed, hide when open
  #open-nav-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    //background: rgba(0,0,0,0.6)
 
  }
  #nav-ctrl:checked ~ #tabs-list #open-nav-label {
    display: none;
  }
  // "show" close nav label when open, hide when closed
  #close-nav-label {
    display: block;
    max-height: 0;
    overflow-y: hidden;
    background-color: $color-text;
    color: $color-label-bg-inactive;
    padding: 0px;
    transition: max-height $tab-transition-duration;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
  }
  #nav-ctrl:checked ~ #tabs-list #close-nav-label {
    max-height: 36px;
    opacity: 1;
    padding: $menu-padding;
  }
  // tabs list style
  #tabs-list {
    position: relative;
    label.panel-label {
      padding: $tab-padding / 2 0;
    }
    @for $i from 1 through $tab-count {
      #li-for-panel-#{$i} {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height $tab-transition-duration;
      }
    }
  }
  // tab controller triggering menu
  @for $i from 1 through $tab-count {
    #panel-#{$i}-ctrl:checked ~ #tabs-list #li-for-panel-#{$i} {
      @include active-menu-li-style;
    }
  }
  #panels {
    .container {
      width: 100%;
    }
    section header {
      display: block;
    }
  }
}

// big devices
@media all and (min-width: 768px) {
  // tab controller triggering tabs
  @for $i from 1 through $tab-count {
    #panel-#{$i}-ctrl:checked ~ #tabs-list #li-for-panel-#{$i} {
      @include active-tab-li-style;
    }
  }
  // tabs list style
  ul#tabs-list {
    @include tabs-list-style;
  }
  // nav label
  #open-nav-label,
  #close-nav-label {
    display: none;
  }
  // nav checkbox
  #nav-ctrl {
    display: none;
  }
}

// real big devices
@media all and (min-width: 900px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}

/////////////////
// DEMO STYLES
/////////////////

// radios
.panel-radios {
  $width: 20px;
  $offset: $width / 2;
  $middle: ceil($tab-count / 2);
  //display: none
  position: fixed;
  left: 50%;
  top: 10px;
  width: $width;
  opacity: 0.5;
  z-index: 99;
  // conditionally centering at top of screen (cant have wrapper...ugh math)
  @for $i from 1 through $tab-count {
    @if $i < ceil($tab-count / 2) {
      &:nth-child(#{$i}) {
        transform: translateX(-1 * $width * ($middle - $i) - $offset);
      }
    }
    @if $i == ceil($tab-count / 2) {
      &:nth-child(#{$i}) {
        transform: translateX(-1 * $offset);
      }
    }
    @if $i > ceil($tab-count / 2) {
      &:nth-child(#{$i}) {
        transform: translateX($width * ($i - $middle) - $offset);
      }
    }
  }
  // menu checkbox
  &:nth-child(#{$tab-count + 1}) {
    top: 30px;
    transform: translateX(-1 * $width / 2);
    display: block;
  }
}

// body
body {
  background: $color-primary-light;
  color: $color-text;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

//banner
#introduction {
  width: 90%;
  margin: 0 auto;
  padding: $main-padding;
  color: white;
  h1 {
    font-weight: 300;
    text-align: center;
  }
}

// content text formatting
main {
  h1 {
    margin-top: 0;
    font-weight: 300;
    color: $color-primary-dark;
  }
  p {
    line-height: 1.8;
  }
  hr {
    margin: 12px 0;
    border-top: $tab-base-border-style;
  }
}

// // demo styles
// label.demo-label {
//   background-color: $color-primary-dark;
//   color: $color-label-bg-active;
//   padding: 4px 8px;
//   border-radius: 2px;
//   cursor: pointer;
//   display: inline-block;
//   user-select: none;
//   &:hover {
//     background-color: $color-primary-light;
//   }
// }

// #demo-child-toggle {
//   display: none;
//   &:checked ~ #demo-parent #demo-child {
//     color: $color-primary-dark;
//     font-weight: bold;
//     text-transform: uppercase;
//   }
// }

// #demo-parent {
//   margin-top: 8px;
// }

// // styling that code
// code,
// pre {
//   color: $color-primary-dark;
//   font-family: Inconsolata, "Andale Mono", Andale, monowidth;
//   background-color: $color-label-bg-inactive;
//   border: $tab-base-border-style;
//   border-radius: 2px;
// }

// code {
//   padding: 2px 6px;
// }

// pre {
//   padding: 12px;
//   line-height: 1.6;
//   strong {
//     color: $color-text;
//     font-weight: normal;
//   }
// }



 
 